@import './base.css';

#app {
  font-weight: normal;
  overflow:hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    width: 100%;
  }

  #app {
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}
